@using FlowChart.Models
@model DevDemo
@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style>
        #diagram {
            height: 900px;
        }
    </style>
    <title>DevExtreme Demo</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>window.jQuery || document.write(decodeURIComponent('%3Cscript src="js/jquery.min.js"%3E%3C/script%3E'))</script>
    <script src="https://cdn3.devexpress.com/jslib/20.1.6/js/dx-diagram.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/20.1.6/css/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/20.1.6/css/dx.light.css" />
    <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/20.1.6/css/dx-diagram.min.css" />
    <script src="https://cdn3.devexpress.com/jslib/20.1.6/js/dx.all.js"></script>

</head>
<body class="dx-viewport">
    <div class="demo-container">
        <div id="diagram">
        </div>
    </div>
</body>
</html>

<script>
    var orgItems = [
        {
            "id": "106",
            "text": "Internet",
            "type": "internet"
        },
        {
            "id": "107",
            "text": "Mobile",
            "type": "mobile"
        },
        {
            "id": "108",
            "text": "WPF\nTeam",
            "type": "ellipse"
        },
        {
            "id": "109",
            "text": "Javascript\nTeam",
            "type": "ellipse"
        },
        {
            "id": "110",
            "text": "ASP.NET\nTeam",
            "type": "ellipse"
        },
        {
            "id": "112",
            "text": "Ana\nTrujillo",
            "type": "rectangle"
        },
        {
            "id": "113",
            "text": "Antonio\nMoreno",
            "type": "rectangle"
        },
        {
            "id": "115",
            "text": "Christina\nBerglund",
            "type": "rectangle"
        },
        {
            "id": "116",
            "text": "Hanna\nMoos",
            "type": "rectangle"
        },
        {
            "id": "117",
            "text": "Frederique\nCiteaux",
            "type": "rectangle"
        },
        {
            "id": "119",
            "text": "Laurence\nLebihan",
            "type": "rectangle"
        },
        {
            "id": "120",
            "text": "Elizabeth\nLincoln",
            "type": "rectangle"
        },
        {
            "id": "122",
            "text": "Patricio\nSimpson",
            "type": "rectangle"
        },
        {
            "id": "123",
            "text": "Francisco\nChang",
            "type": "rectangle"
        }
    ];

    var orgLinks = [
        {
            "id": "124",
            "from": "106",
            "to": "108",
        },
        {
            "id": "125",
            "from": "106",
            "to": "109",
        },
        {
            "id": "126",
            "from": "106",
            "to": "107",
        },
        {
            "id": "127",
            "from": "106",
            "to": "110",
        },
        {
            "id": "129",
            "from": "110",
            "to": "112",
        },
        {
            "id": "130",
            "from": "110",
            "to": "113",
        },
        {
            "id": "132",
            "from": "107",
            "to": "115",
        },
        {
            "id": "133",
            "from": "107",
            "to": "116",
        },
        {
            "id": "134",
            "from": "107",
            "to": "117",
        },
        {
            "id": "136",
            "from": "108",
            "to": "119",
        },
        {
            "id": "137",
            "from": "108",
            "to": "120",
        },
        {
            "id": "139",
            "from": "109",
            "to": "122",
        },
        {
            "id": "140",
            "from": "109",
            "to": "123",
        }
    ];

    $(function () {
         var shapes = JSON.parse('@Model.Shapes'.replace(/&quot;/g, '"'));
        $("#diagram").dxDiagram({
            customShapes: shapes,
            toolbox: {
                groups: [{ category: "hardware", title: "Hardware" }]
            },
            nodes: {
                dataSource: new DevExpress.data.ArrayStore({
                    key: "this",
                    data: orgItems
                }),
                autoLayout: {
                    type: "tree"
                }
            },
            edges: {
                dataSource: new DevExpress.data.ArrayStore({
                    key: "this",
                    data: orgLinks
                })
            }
        });
    });


</script>